@font-face {
    font-family: 'Gravitas One';
    src:font-url('GravitasOne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src:font-url('OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src:font-url('OpenSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src:font-url('OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
