html {
    height:100%;
    background-image: url(image-path("tablecloth-pattern-green.jpg"));
}

body {
    /* min-height:100%; */
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    line-height: 1.5;
    background: transparent;
    margin: 15px auto 20px auto;
    width: 80%;
    min-width: 420px;
    padding: 0 20px 20px 20px;
    position: relative;
    /* box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.5); */
}

.recipe {
    background: white;
    border-style: solid;
    border-radius: 25px;
    border-width: 5px;
}

.plain-layout {
    background: white;
}

img {
  max-width: 100%;
}

.ingredients {
    font-weight: bold;
    line-height: 21px;
}

.references {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.recipe-link {
    padding-top: 10px;
}

h1 {
    padding-top: 10px;
    text-align: center;
    font-weight: 500;
}

h2 {
    padding-top: 20px;
    font-weight: normal;
    font-size: large;
    padding-bottom: 5px;
}

h3 {
    padding-top: 20px;
    font-weight: normal;
    font-size: medium;
    padding-bottom: 5px;
}

h6 {
    text-align: center;
}

.login-menu {
    font-family: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace;
    float: right;
}

.menu {
    padding-top: 10px;
    z-index:10;
}


/* bootstrap checkboxes get a float:left and margin-left:-20px to be
on the left side of the label; compensate this shift by shifting the
surrounding label tag to the right again to align the checkbox with
other form elements */
label.checkbox {
    margin-left: 20px;
}

.recipe-user {
    text-align: center;
    color: darkolivegreen;
    text-decoration: none;
    font-size: small;
    font-family: Andale Mono, AndaleMono, monospace;
    padding-bottom: 10px;
}

a:visited {
    color: gray;
}

a.nav-link {
    color: green;
}

a.disabled {
    cursor: not-allowed;
}

.right-side-icon {
    padding-left: 10px;
}

th {
  font-weight: bold;
  font-size: 20px;
  font-family: Franklin Gothic Medium, Franklin Gothic, ITC Franklin Gothic, Arial, sans-serif;
}

.small-text-field {
  width: 30%;
}

.medium-text-field {
  width: 50%;
}

.card-no-outline {
  background-color: transparent;
  border-color: white;
}

.flash {
    border: 5px solid #e5e5e5;
    border-radius: 25px;
}

a.action-link {
    color: gray;
}

.rating {
    color: purple;
    font-size: 12px;
}

.small-font {
    font-size: 8px;
}
